@model List<PostViewModel>

<div class="row">
    <div class="col-12">
        <a asp-controller ="Post" asp-action="Create"
            class="btn btn-primary">New Post</a>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th style="width: 200px;">Image</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th style="width: 125px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><img src="~/ai.jpg" class="img-fluid" alt=""></td>
                        <td>@item.Title</td>
                        <td>@item.CategoryName</td>
                        <td>@item.Description</td>
                        <td>
                            <a asp-controller="Post" asp-action="Details" asp-route-Id="@item.PostId" class="btn btn-sm btn-info">Detail </a>
                            <a asp-controller="Post" asp-action="GetUpdatePost" asp-route-Id="@item.PostId" class="btn btn-sm btn-primary">Update </a>
                            <a asp-controller="Post" asp-action="DeleteConfirm" asp-route-Id="@item.PostId" class="btn btn-sm btn-success">Delete</a>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
